<html>
	<head>
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous"
		/>
		
		<script type="text/javascript" src="P_01.js" defer></script>
		<script src="https://kit.fontawesome.com/0b85ae3fb7.js" crossorigin="anonymous"></script>
		<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"
		defer
		></script>
	</head>
	<body>
		<div id="navbar" >
		</div>
		</div>
		<p>
			Welcome to Sabor del Sol, where culinary traditions from Japan, Italy, and Mexico come together in a vibrant fusion of flavors. Our family-owned restaurant celebrates the rich diversity of these three cultures, offering a unique dining experience that marries the elegance of Japanese cuisine, the warmth of Italian cooking, and the bold spices of Mexican dishes. From our meticulously crafted sushi rolls and homemade pasta to our zesty tacos and savory enchiladas, each dish is a testament to our commitment to quality and innovation. At Sabor del Sol, we invite you to embark on a delightful journey through our global menu, where every meal is a celebration of taste and tradition.
		</p>
	</body>
</html>