<div class="modal-body">
	<button id="close_button" type="button" class="close" data-dismiss="modal">X</button>
	
	<div class="myform bg-dark">
		<h1 class="text-center">Login</h1>
			<div class="mb-3 mt-4">
				<label for="email_form" class="form-label">Email address</label>
				<input type="email" class="form-control" id="email_form" aria-describedby="emailHelp">
			</div>
			<div class="mb-3">
				<label for="pass_form" class="form-label">Password</label>
				<input type="password" class="form-control" id="pass_form">
			</div>
			<button class="btn btn-light mt-3" onclick="clickLogin()">LOGIN</button>
			<p id="err_msg"></p>
			<p>Not a member? <a href="/singup">Sign Up now</a></p>
	</div>
</div>	